@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

*,
body {
	margin: auto 0;
}

body {
	font-family: 'Ubuntu', sans-serif;
	color: rgba(0, 0, 0, 5);
	text-transform: uppercase;
	background: linear-gradient(to right, #34ebc9, #c0aaef);
}

header {
	text-align: center;
	height: 19vh;
	padding-top: 7rem;
	font-size: large;
	margin: 0 1rem;
	line-height: 3.2rem;
}

#colorPickerSection {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

.colorPicker {
	padding: 0;
	width: 5rem;
	height: 2.3rem;
	border: 1px solid black;
	outline: none;
	margin: 0 1rem;
}

#colorDisplay {
	text-align: center;
	margin: 5rem 1rem;
}

h3 {
  margin: 2rem;
}
